/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Header Section Styling
--------------------------------------------------------------*/

header { 
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bck);
  row-gap: 10px;
  padding: 10px 15px;
}

header button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.logoBox {
  display: flex;
  align-items: center;
  width: 140px;
  height: 45px;
}

.logoBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  color: white;
  flex-wrap: nowrap;
}


.cartHeader img {
  width: 140px;
  height: 50px;
  object-fit: cover;
}

.shopping-cart-container {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}

.notification-counter {
  position: absolute;
  text-align: center;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
}

button.collapsible:hover {
  background-color: #ffffff;
}

.header-dropdown-btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 55px;
  right: 15px;
  background-color: #ffffff;
  min-width: 120px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: opacity 0.1s ease, transform 0.1s ease, visibility 0.1s ease;
}

.header-dropdown-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-dropdown-btn a {
  display: block;
  padding: 10px 5px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.header-dropdown-btn a:hover {
  background-color: #ffffff;
  border-radius: 5px;
  color: var(--color-button);
  opacity: 0.8;

}

