/*--------------------------------------------------------------
# General Styling
--------------------------------------------------------------*/

/* Container styling */
.input-g-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0;
}

.FormCls {
  background-color: rgb(222, 222, 222);
  padding: 15px;
  border-radius: 5px;
}

/* Label Styling */
.input-base-style label {
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
  padding-left: 2px;
}

/* Base Input Styling */
.input-style,
select.input-style {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  appearance: none; 
  outline: none;
}

/* Focus State */
.input-style:focus,
select.input-style:focus {
  border-color: var(--color-button);
}

.ProductBtnBox button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-button);
  color: white;
  font-size: 1rem;
  cursor: pointer;

}

/* Responsive Styling */
@media (max-width: 600px) {
  .input-style,
  select.input-style {
    font-size: 14px;
    padding: 10px;
  }
}
