/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Controls Section Styling
--------------------------------------------------------------*/

/* Flex Align Center */

.flex-alg-center {
  display: flex;
  align-items: center;
}

/* Flex justify Center */

.flex-just-center {
  display: flex;
  justify-content: center;
}

.col-5px {
  column-gap: 10px;
}

/* End of Flex Align Center */

/* Admin Panel Hidden */

.admin-panel {
  display: flex;
}

/* End of Admin Panel Hidden */

/* User Panel idden */

.user-panel {
  display: none;
}

/* End of User Panel Hidden */