/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# User Action Modal Base Script and Styling
--------------------------------------------------------------*/

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(8px);
}

.modal,
.modal1,
.modal2,
.modal3 {
  display: none;
  position: fixed;
  background-color: #fff;
  z-index: 2;
}

/*--------------------------------------------------------------
# End of User Action Modal Base Script and Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# User Action Modal Styling
--------------------------------------------------------------*/

.modal1 {
  width: 95vw;
  max-width: 500px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal1.show {
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s forwards, fadeIn 0.3s forwards;
}

/* User Modal Animation */
@keyframes slideIn {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content-user {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 75vh;
}

/*--------------------------------------------------------------
# End of User Action Modal Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Admin Action Modal Styling
--------------------------------------------------------------*/

.modal2 {
  width: 95vw;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal2.show {
  display: block;
  animation: fadeIn2 0.3s forwards, slideIn2 0.3s forwards;
}

.modal-content-admin {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 64vh;
  padding: 20px 15px;
  overflow: auto;

}


/* Admin Modal Animation */

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn2 {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

/*--------------------------------------------------------------
# End of Admin Action Modal Styling
--------------------------------------------------------------*/

.modal-backdrop.show {
  display: flex;
}

/*--------------------------------------------------------------
# End of Modal Base Script and Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Title and Close Button Styling 
--------------------------------------------------------------*/

.mod-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.title-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.close-modal-btn {
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 10px;
  display: flex;
  background-color: rgb(228, 228, 228);
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border-radius: 25px;
}

@media screen and (min-width: 1525px){
  .close-modal-btn {
    right: 25px;
  }
  
}

/*--------------------------------------------------------------
# End of Title and Close Button Styling 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Login and Register Form Styling
--------------------------------------------------------------*/



.mod-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  row-gap: 5px;
  font-size: 0.875rem;
}

.input-group label {
  text-align: start;
  font-size: var(--size-labels);
  font-weight: 700;
  padding-left: 3px;
}

.input-group input {
  padding: 8px;
  font-size: var(--size-inputText);
  border-radius: 3px;
  background-color: #ebebeb;
  border: none;
  outline: none;
}

.input-group input::placeholder {
  color: #333;
}

.input-group input:focus {
  outline: solid 1px #C6435D;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.85rem;
  line-height: 1rem;
  color: rgb(0, 0, 0);

}

.forgot a {
  color: #C6435D;
  text-decoration: none;
  font-size: var(--size-helpText);
}

.signBtn {
  display: block;
  padding: 0.5rem 4.5rem;
  background-color: #C6435D;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.privacy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  row-gap: 15px;
  font-size: 0.8rem;
  color: #000;
  column-gap: 5px;
  padding: 5px 20px 10px 20px;
}

.privacy-container a {
  color: #C6435D;
  text-decoration: none;
}

.privacy-container p {
  font-size: 0.8rem;
  color: rgb(33, 33, 33);
  margin: 0;
}

/*--------------------------------------------------------------
# End of Login and Register Form Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Confirmation Buttons Styling
--------------------------------------------------------------*/

.cofirmBox {
  row-gap: 10px;
  margin-top: 45px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  column-gap: 45px;
  align-items: center;
  padding: 15px 30px;
}

.modal-buttons button {
  appearance: button;
  background-color: #C6435D;
  border: 1px solid #C6435D;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-font);
  cursor: pointer;
  font-size: var(--size-inputText);
  line-height: 1.15;
  overflow: visible;
  padding: 8px 35px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

/* Confirmation Text Styling */

 .confirm-text {
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
/* Confirmation Button Styling */

.modal-buttons button:disabled {
  opacity: .5;
}

.modal-buttons button:focus {
  outline: 0;
}

.modal-buttons button:hover {
  background-color: #c3596e;
  border-color: #C6435D;
}

/*--------------------------------------------------------------
# Confirmation Buttons Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Filter Modal Styling
--------------------------------------------------------------*/

.chip-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 25px 0;
  column-gap: 5px;
}

.chip {
  display: inline-block;
  padding: 8px 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.chip.selected {
  background-color: #C6435D;
  color: #fff;
}

.Productnavbox {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  padding: 15px 25px 25px 25px;
  background-color: var(--color-font);
}

.inProductnavbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  
}

.visible {
  display: flex;
}

.addCartBtn {
  width: 100%;
  background-color: var(--color-button);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--size-inputText);
  height: clamp(35px, 5vw, 40px);
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.inProductBtn{
  width: clamp(35px, 5vw, 40px);
  height: clamp(35px, 5vw, 40px);
}

.inputProduct{
  width: clamp(35px, 5vw, 40px);
  height: clamp(35px, 5vw, 40px);
}


/*--------------------------------------------------------------
# End of Filter Modal Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Product Modal section Styling
--------------------------------------------------------------*/

.product-form-container {
  display: flex;
  align-items: center;
  padding: 25px 25px 110px 25px;
  overflow: auto;
  position: relative;
  row-gap: 15px;
}

.product-form-container .productImg {
  width: 100%;
  height: 100%;
  max-height: 230px;
  object-fit: cover;
  padding: 25px;
  border-radius: 35px;
}

.product-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 14px;
}

.product-form-group h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 25px;
}

.product-form-group .space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
}

.space-btw {
  padding: 5px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d7d7d7;
}

/*--------------------------------------------------------------
# End of  Product Modal section Styling
--------------------------------------------------------------*/
