footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: #ffffff;
  padding: 20px 15px 40px 15px;
  color: #333;
}

.logoContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin-bottom: 15px;
  cursor: pointer;
}

.logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.terms-privacy {
  background-color: #eaeaea;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.terms-privacy a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  margin: 0 5px;
}

.terms-privacy span {
  color: #ccc;
}

.copyright p {
  margin-top: 15px;
  font-size: 0.9em;
}