/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Set main reusable colors and fonts using CSS variables
--------------------------------------------------------------*/
/* Fonts */
:root {
  --font-default: "Montserrat", sans-serif;
}

/* Colors */
:root {

  --color-body: #f8f9fa;
  --color-button: #C6435D;
  --color-bck: #C6435D;
  --color-font: #ffffff;


  --sb-track-color: #F0F0F0;
  --sb-thumb-color: #c6435d;
  --sb-size: 5px;

  /* size */

  --size-headings: 2.5rem;
  --size-labels: clamp(1rem, 2vw, 1.2rem);
  --size-inputText: clamp(1rem, 2vw, 1.2rem);
  --size-buttonText: 0.8rem;
  --size-helpText: clamp(0.9rem, 2vw, 1rem);


}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-body);
}

body {
  background-image: url('/images/zbritjeBck.svg');
  background-size: cover; /* Scales to fit */
  background-position: center; /* Centers image */

}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 9px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 9px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* Google Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

/* END of Google Icons */

.btn-pad {
  padding: 8px 14px;
}