/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Shopping Cart Product Section Styling
--------------------------------------------------------------*/

/* Main Table Styling */

.cartSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  padding: 15px 0 75px 0;
}

.AlertinfoBox {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  margin: 8px 21px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.AlertinfoBox p {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 500;
  color: #616161;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .cartSection {
    padding: 15px 0 0 0;
  }
}

/* End of Main Table Styling */

/* Product Styling */

.cartSection tbody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 15px 0 29px 0;
  margin: 0 21px;
  gap: 15px;
}

.cartSection tr {
  display: grid;
  padding: 20px 10px 10px 10px;
  grid-template-columns: auto 3fr;
  grid-template-rows: 1fr;
  height: auto;
  position: relative;
  border-radius: 10px;
  gap: 14px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cartSection td {
  display: flex;
  align-items: start;
  font-size: 1.1rem;
}

.cartSection img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.prodBox {
  position: relative;
}

.cartStoreImg img {
  position: absolute;
  top: -20px;
  left: -5px;
  width: 30px;
  height: 30px;

}

.cartSection .infBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.infTitle {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 500;
}

.infPrice {
  font-size: clamp(1.0rem, 1.5vw, 1.2rem);
  font-weight: 700;
}

.cartCheckbx {
  display: flex;
  align-items: center;
  column-gap: 8px;  
  position: absolute;
  font-size: 14px;
  top: 15px;
  right: 15px;
}

.textcartContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px 21px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.textcartArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textcartArea label {
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 3px;
  padding-left: 2px;
} 

.textcartArea p {
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 3px;
  padding-left: 2px;
  color: #616161;
}

.textcartArea textarea {
  resize: none;
  padding: 10px;
  height: 100px;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 10px;
  
  border: 1px solid #ccc;}


/* End of Product Styling */

/*--------------------------------------------------------------
# Total Price and Buttons Styling
--------------------------------------------------------------*/

.tprCotainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 0px 0 15px 0;
  margin: 8px 21px;
  gap: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tprBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  row-gap: 7px;
}

.tprDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color:  rgb(187, 187, 187);
}

.cartBtnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.cartBtnCont button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 45px;
  line-height: 34px;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--color-bck);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 98px;
}

.cartBtnCont a {
  color: var(--color-fonts);
  padding: 13px 25px;
  cursor: pointer;
}

.cartBtnCont button:hover {
  color: #ecf406;
  opacity: 0.9;
}

/*--------------------------------------------------------------
# End of Total Price and Buttons Styling
--------------------------------------------------------------*/