/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Footer Section Styling
--------------------------------------------------------------*/

footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  color: #fff;
  transition: bottom 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Footer Buttons Styling
--------------------------------------------------------------*/


footer nav {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  width: 100%;
  row-gap: 15px;
  padding: 10px 0px;
}

footer button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  row-gap: 2px;
  color: black;
  padding: 10px 15px;
}

footer button .footer-icon {
  font-size: 21px;
  text-align: center;
  color: var(--color-font);
}

footer button .footer-btn-text {
  font-size: 12px;
  text-align: center;
}
.footer-icon {
  color: rgb(198, 67, 93);
}

footer button.selected,
footer button.selected span {
  color: rgb(198, 67, 93);
}

/*--------------------------------------------------------------
# END of Footer Buttons Styling
--------------------------------------------------------------*/