/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Header Section Styling
--------------------------------------------------------------*/

header { 
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-icon-pd {
  padding: 5px;
}