body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.HomeModal {
  width: 75vw;
  max-width: 450px;
  background-color: lightcoral;
}

.slider-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

.slider-container img.active {
  opacity: 1;
}

.slider-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.reg-btn-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  bottom: 85px;
  left: 0;
  height: 150px;
  right: 0;
  display: flex;
  row-gap: 25px;
}

.dots-container {
  display: flex;
  gap: 10px;
}

.dots-container .dot {
  width: 10px;
  height: 10px;
  background-color: rgb(199, 199, 199);
  border-radius: 50%;
  cursor: pointer;
}

.dots-container .dot.active {
  background-color: red;
}


.reg-btn-container button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 86px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #008060;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.reg-text-log {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
