/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Main Section Styling
--------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}