/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Main Section Styling
--------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f0f0f0;
}

/*--------------------------------------------------------------
# Navigation Section Styling
--------------------------------------------------------------*/

.navSection {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: auto;
    padding: 10px 15px;
}

.navSection button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
}