/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Main Section Styling
--------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

/*--------------------------------------------------------------
# Navigation Section Styling
--------------------------------------------------------------*/

.navSection {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: auto;
    padding: 10px 15px;
    background-color: #fff;
}

.navSection input {
    background-color: #f0f0f0;
}

.navSection button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Main Product Grid Section Styling
--------------------------------------------------------------*/

.main-productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px 15px;
    height: 100%;

}

/*--------------------------------------------------------------
# Category Profile Section Styling
--------------------------------------------------------------*/

.cat-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    background-color: #fff;
    overflow-x: auto;
    height: 70px;
}

.cat-profile {
    display: flex;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: solid 1px rgb(198, 67, 93);
    cursor: pointer;
    padding: 2px;
    border-radius: 15px;
    pointer-events: none; /* Disable pointer events on .cat-profile */
}

.cat-profile img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

