/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Shopping Cart Product Section Styling
--------------------------------------------------------------*/

.bckCartbtn {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: black;
  column-gap: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* Main Table Styling */

.cartSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  overflow: auto;
  padding: 45px 0;
}

.cartSection tbody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 15px 0 29px 0;
  margin: 0 21px;
  gap: 15px;

}

.cartSection tr {
  display: grid;
  padding: 10px;
  grid-template-columns: auto 3fr;
  grid-template-rows: 1fr;
  height: auto;
  position: relative;
  border-radius: 10px;
  gap: 14px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cartSection td {
  display: flex;
  align-items: start;
  font-size: 1.1rem;
}

.cartSection img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.cartSection .infBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.infTitle {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  font-weight: 500;
}

.infPrice {
  font-size: clamp(1.0rem, 1.5vw, 1.2rem);
  font-weight: 700;
}


.cartBtnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.cartBtnCont button {
  

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: var(--color-bck);
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  border-radius: 8px;
}

.cartBtnCont button:hover {
  color: #ffffff;
  opacity: 0.9;
}