
.bckCartbtn {
  background-color: transparent;
  font-size: 1.1rem;
  color: var(--color-font);
  column-gap: 6px;
  cursor: pointer;
  white-space: nowrap;

}

/* Shopping Cart Product Section Styling */


