/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# User Action Modal Base Script and Styling
--------------------------------------------------------------*/

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(8px);
}

.modal,
.modal1,
.modal2 {
  height: auto;
  display: none;
  position: fixed;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
}

.modal {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*--------------------------------------------------------------
# End of User Action Modal Base Script and Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# User Action Modal Styling
--------------------------------------------------------------*/

.modal1 {
  width: 90vw;
  max-width: 500px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal1.show {
  display: block;
  animation: slideIn 0.3s forwards, fadeIn 0.3s forwards;
}

/* User Modal Animation */

@keyframes slideIn {
  from {
    top: 100%;
  }
  to {
    top: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# End of User Action Modal Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Admin Action Modal Styling
--------------------------------------------------------------*/

.modal2 {
  width: 90vw;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal2.show {
  display: block;
  animation: fadeIn2 0.3s forwards, slideIn2 0.3s forwards;
}


/* Admin Modal Animation */

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn2 {
  from {
    transform: translate(-50%, -60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

/*--------------------------------------------------------------
# End of Admin Action Modal Styling
--------------------------------------------------------------*/

.modal-backdrop.show {
  display: flex;
}

/*--------------------------------------------------------------
# End of Modal Base Script and Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Admin Action Modal Base Script and Styling
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# End of Admin Action Modal Base Script and Styling
--------------------------------------------------------------*/