.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: -100%; /* Starts off the screen */
  width: 100vw;
  height: 100vh; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.2); 
  transition: bottom 0.2s ease, background-color 0.2s ease; /* Slide and background color transition */
}

.modal-content {
  display: flex;
  width: 80%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
 
}

#openModal {
  display: block;
  cursor: pointer;
}