/*
* Website Designed by Denis Januzi
* Created: April 1 2024
* Contact Address: denisjanuzi@gmail.com (+38349106068)
* Author: Denis Januzi
* License: denis.cilesi.com
*/

/*--------------------------------------------------------------
# Modal Base Script and Styling
--------------------------------------------------------------*/

#modalBackdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(8px);
}

#modal {
  display: none;
  position: fixed;
  width: 80vw;
  max-width: 768px;
  top: 100%; /* Start position off-screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
}

#modalContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

#modal.show {
  display: block;
  animation: slideIn 0.2s forwards, fadeIn 0.2s forwards; /* Apply both slide and fade animation */
}

@keyframes slideIn {
  from {
    top: 100%; /* Start position off-screen */
  }
  to {
    top: 50%; /* Slide in to the center */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modalBackdrop.show {
  display: block;
}


/*--------------------------------------------------------------
# End of Modal Base Script and Styling
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Site Modals
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# End of Modal Base Script and Styling
--------------------------------------------------------------*/
